openapi: 3.2.0
info:
  title: AEMC Energy Rules Settings API
  version: '2026-07-27'
  description: Machine-readable description of the undocumented JSON API that serves the Australian Energy Market Commission's Energy Rules application at https://energy-rules.aemc.gov.au.
  contact:
    name: AEMC
    url: https://www.aemc.gov.au/contact-us
  x-provenance:
    generated: '2026-07-27'
    method: derived
    sources:
    - https://de4oj9etm9d7w.cloudfront.net/b8470902-3d28-4902-8883-2c59d10e7818/js/app.js
    - live anonymous HTTP probes 2026-07-27
    note: Not published by AEMC. Derived by API Evangelist from AEMC's own production client bundle plus live anonymous probes of every route.
servers:
- url: https://energy-rules.aemc.gov.au/api/v1
  description: Production
tags:
- name: Settings
  description: Application settings exposed to the client.
paths:
  /settings/wa:
    get:
      operationId: getWaSettings
      summary: Get the Western Australia rules display setting
      description: Returns the application flag the client uses to decide whether the Western Australian rule variants are shown. Verified live 2026-07-27 — returns the literal body `1`.
      tags:
      - Settings
      responses:
        '200':
          description: Setting value.
          content:
            application/json:
              schema:
                type: integer
                examples:
                - 1
      x-evidence:
        probed: '2026-07-27'
        requests:
        - url: https://energy-rules.aemc.gov.au/api/v1/settings/wa
          status: 200
          bytes: 1
